.content-available-hours {
  margin: auto auto 32px;
}

.content_available-hours {
  max-width: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #585666;
  padding: 32px;
  border-radius: 8px;
}

.text_available-hours {
  color: #ffffff;
  margin-bottom: 0;
}

